<h1 *ngIf="noticia">{{noticia.id}}</h1>
<mat-grid-tile>
  <mat-card class="example-card col-lg-12">
    <div class="col-md-12">
      <div class="col-md-2 col-sm-12">
        <img mat-card-mat-image src={{noticia.thumbnailUrl}} alt="Photo of a Shiba Inu">
      </div>
      <div class="col-md-10 col-sm-12">
        <mat-card-title>{{noticia.title}}</mat-card-title>
        <mat-card-subtitle>{{noticia.description}}</mat-card-subtitle>
        {{noticia.url}}
      </div>
    </div>
  </mat-card>
</mat-grid-tile>

