<div *ngIf="!noticia">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<h1 *ngIf="noticia"></h1>
  <img mat-card-mat-image class="img-rounded img-responsive" src={{noticia.urlToImage}} alt="Photo of a Shiba Inu">
<mat-card-content>
  <h4>{{noticia.descripcion}}</h4>
  <h1>{{noticia.titulo}}</h1>
  <p>{{noticia.texto}}</p>
  <a id="url" href={{noticia.url}}>{{noticia.url}}</a>
  <p><b><i>Escrito por {{noticia.autor}}</i></b></p>
  <p><b><i>Publicado el {{noticia.publishedAt}}</i></b></p>

  <p id="volver">
    <button mat-raised-button color="warn" [routerLink]="['/']"> Volver a Listado</button>
  </p>
</mat-card-content>

