<p>
  <button mat-raised-button color="warn" [routerLink]="['/']"> Volver a Listado</button>
</p>
<div *ngIf="!favoritos">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <h1>No existen noticias asociadas!!</h1>
</div>
<div fxLayout="column" fxLayoutAlign="center stretch" class="column-example">
  <div *ngFor="let noticia of favoritos; let i = index">
    <mat-card>
      <img mat-card-image src={{noticia.urlToImage}} alt="Photo of a Shiba Inu">
      <mat-card-title>{{noticia.titulo}}</mat-card-title>
      <mat-card-subtitle>{{noticia.descripcion}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-raised-button color="warn" [routerLink]="['/detalle-noticia', noticia.id]">Ver Noticia</button>
        <button mat-raised-button id="favorito" color="warn" (click)="borrarFavorito(noticia)"><i class="fas fa-trash-alt"></i></button>
      </mat-card-actions>
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>
