<p>
  <button mat-raised-button color="warn" [routerLink]="['/']"> Volver</button>
</p>
<div *ngIf="!noticias">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-grid-list cols="1" rowHeight="4:1" *ngIf="noticias">
  <mat-grid-tile *ngFor="let noticia of noticias; let i = index">
    <mat-card *ngIf="i<10" class="example-card">
      <mat-card-header>
        <img mat-card-mat-image src={{noticia.thumbnailUrl}} alt="Photo of a Shiba Inu">
      </mat-card-header>
      <mat-card-content>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{noticia.title}}</mat-card-title>
        <button mat-raised-button color="warn" [routerLink]="['/detalle-noticia', noticia.id]">Ver Noticia</button>
        <mat-card-subtitle>ID: {{noticia.id}}</mat-card-subtitle>
        {{noticia.url}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
