img{
  margin-top: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: auto;
/*  width: auto;*/
}
button{
  margin-top: 15px;
  margin-bottom: 15px;
}
button #favorito{
  margin: 1px;
}
mat-card{
  text-align: center;
}


